 body,
 html {
     font-family: 'Montserrat', sans-serif;
     text-transform: uppercase;
     background-image: url("images/headerbg.jpg");
     background-size: auto;
     background-repeat: no-repeat;
 }
 
 h1 {
     color: red;
     font-family: 'Montserrat', sans-serif, bold;
     text-align: center;
 }
 
 .call {
     margin-left: 20%;
 }
 
 .navbar {
     display: block;
     block-size: auto;
     background-color: rgba(255, 0, 0, 0);
     font-family: 'Montserrat', sans-serif;
     text-decoration: firebrick;
     margin-right: inherit;
     height: 170px;
     padding: 0em;
 }
 
 .container-fluid {
     background-color: rgba(89, 235, 21, 0.315);
 }
 
 .mt-4 {
     padding: 5em;
     color: transparent;
     background: transparent;
 }
 
 .navbar-light .navbar-nav .nav-link {
     color: rgb(255, 0, 0);
     font-family: 'Montserrat', sans-serif;
     font-size: 1.5rem;
 }
 
 nav .nav-link:hover {
     color: red;
 }
 
 footer {
     border-top: 5px;
 }
 
 .navbar-toggler {
     align-content: center;
     background-color: #ff0000;
     color: transparent;
     border-radius: 35%;
 }
 
 .navbar-toggler:hover {
     align-content: center;
     background-color: #ff0000;
     color: #ff0000;
     border-radius: 35%;
 }
 
 .btn-primary {
     color: #fff;
     background-color: #ff0000;
     border-color: #fc0000;
     border-radius: 30%;
 }
 
 .btn-primary:hover {
     color: #fff;
     background-color: #a50000;
     border-color: #a50000;
     border-width: 3px;
     border-radius: 30%;
 }